* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow: hidden;
}
.main {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    #f1f1f1,
    #efefef,
    #eeeeee,
    #ececec,
    #ededed,
    #ebebeb
  );
}
.main .container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 50px 0px;
}
.main .container .left {
  width: 50%;
}
.main .container .left img {
  width: 100%;
}
.main .container .right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .container .right h3 {
  font-size: 30px;
  color: #3e3e3e;
  margin: auto;
  font-weight: 800;
  margin-bottom: 30px;
  letter-spacing: 0px;
}
.main .container .right h3 span {
  color: #027cfb;
}
.main .container .right p {
  font-size: 16px;
  margin-bottom: 20px;
}
.main .container .right .login-with-app {
  border: 2px solid #dadce2;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 50px;
  display: flex;
  cursor: pointer;
  margin-bottom: 20px;
}
.main .container .right .login-with-app i {
  font-size: 30px;
  color: #3e3e3e;
}
.main .container .right .login-with-app a {
  text-decoration: none;
  color: #3e3e3e;
  font-size: 14px;
}
.main .container .right .or {
  display: flex;
  align-items: center;
  position: relative;
}
.main .container .right .or span {
  width: 100px;
  height: 1px;
  background-color: #c3c7d3;
  position: relative;
  bottom: 10px;
}
.main .container .right .or p {
  padding: 0px 10px;
  color: #c3c7d3;
}
.main .container .right form .name-input {
  display: flex;
  align-items: center;
  border: 2px solid #dadce2;
  gap: 5px;
  padding: 0px 10px;
  margin-bottom: 10px;
  border-radius: 50px;
}
.main .container .right form .name-input i {
  color: #c3c6d0;
}
.main .container .right form .name-input input {
  outline: none;
  border: none;
  padding: 10px 10px;
  color: #dadce2;
}
.main .container .right form .name-input input:focus,
.main .container .right form .password-input input:focus {
  color: #3E3E3E;
}
.main .container .right form .password-input {
  display: flex;
  align-items: center;
  border: 2px solid #dadce2;
  border-radius: 50px;
  gap: 5px;
  padding: 0px 10px;
  margin-bottom: 10px;
}
.main .container .right form .password-input input {
  outline: none;
  border: none;
  padding: 10px 10px;
  color: #dadce2;
}
.main .container .right form .password-input i {
  color: #dadce2;
}
.main .container .right form .password-input i.bxs-hide {
  display: none;
}
.main .container .right .remember-forgotten {
  display: flex;
  margin-bottom: 15px;
  gap: 30px;
}
.main .container .right .remember-forgotten .remember {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.main .container .right .remember-forgotten .remember label {
  font-size: 12px;
  font-weight: 600;
  color: #141414;
}
.main .container .right .remember-forgotten .forgotten {
  display: flex;
  align-items: center;
}
.main .container .right .remember-forgotten .forgotten a {
  font-size: 12px;
  text-decoration: none;
  color: #9fa0a5;
}
.main .container .right button.log {
  text-decoration: none;
  color: #fff;
  background-color: #027cfb;
  padding: 12px 95px;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 50px;
  margin-bottom: 10px;
  cursor:pointer;
  outline:none;
  border:none;
}
.main .container .right .signup {
  display: flex;
  gap: 10px;
}
.main .container .right .signup p {
  color: #9fa0a5;
}
.main .container .right .signup a {
  text-decoration: none;
  color: #141414;
  font-weight: 600;
}

.success{
  width:100%;
  height:100%;
  background: rgba(20, 20, 30, 0.5);
  position:fixed;
  top:0;
  left:0;
  display: none;
  align-items: center;
}
.success i.bx-x{
  font-size:30px;
  color:white;
  position:fixed;
  right:30px;
  top:30px;
  width:40px;
  height:40px;
  border-radius:50%;
  background-color: #3e3e3e;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.success .container{
  width:250px;
  /* height:100px; */
  margin:auto;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  border-radius:5px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:20px;
  padding:20px 0px;
}
.success .container .icon{
  width:50px;
  height:50px;
  background-color: green;
  border-radius:50%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.success .container .icon i.bx-check{
  color:white;
  font-size:40px;
}
.success .container .text{
  text-align: center;
}


@media only screen and (max-width: 690px) {
  body {
    overflow: hidden;
  }
  .main .container {
    width: 100%;
    display:block;
    height: 100vh;
    /* padding: 50px; */
    justify-content: flex-start;
  } 
  .main .container .left {
    display:none;
    width: 100%;
  }
  .main .container .right {
    display:flex;
    align-items:center;
    width: 100%;
  }
  .main .container .right h3 {
    font-size: 50px;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }
  .main .container .right p {
  font-size: 18px;
  margin-bottom: 20px;
}
}

@media only screen and (max-width:430px){
    .main .container .right{
        height:85%;
    }
    .main .container .right h3{
        font-size:40px;
    }
}

@media only screen and (max-width:375px){
    .main .container .right h3{
        font-size:30px;
    }
}

@media only screen and (max-width:320px){
    .main .container .right{
        height:100%;
    }
}
